<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Регистрация</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Зарегистрироваться</button>
    </form>
</div>

</body>
</html>